/* ColorPicker.css */
.v-btn:hover {
    background-color: none;
    /* Remove hover background */
    box-shadow: none;
    /* Remove hover shadow */
    transform: none;
    /* Remove hover scaling */
    color: none;
    /* Remove hover color change */
}

.v-btn {
    text-align: left;
    align-self: left;
}