.v-btn:hover {
    background-color: none;
    box-shadow: none;
    transform: none;
    color: none;
}

.v-btn {
    text-align: left;
    align-self: left;
}

.selected-colour-info {
    margin-top: 20px;
}

.ColorDisplay {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    margin-top: 10px;
    border-radius: 50%;
}

