.header {
    background-color: var(--color-background-header);
    backdrop-filter: blur(14px);
    color: var(--color-labelPrimary);
    padding: 0.5rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    z-index: 100;
    width: 100%;
    opacity: inherit;
}

.header nav ul {
    list-style-type: none;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin: 0 1rem;
}

.header nav ul li a {
    text-decoration: none;
}

.header nav ul li a:hover {
    text-decoration: underline;
}

.navbar-logo {
    width: 50px;
    height: auto;
}