.header {
    background-color: #308CC2;    
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-around;}

.header nav ul {
    list-style-type: none;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin: 0 1rem;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
}

.header nav ul li a:hover {
    text-decoration: underline;
}