
.card {
    display: flex;
    flex-direction: column;
    font-family: SF Pro Display, Helvetica Neue, sans-serif;
    border-radius: 10px;
    box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.6);
    transition: .3s;
    position: relative;
}

.card:hover {
    transform: scale(1.02);
}

.long {
    width: 660px;
}

.short {
    width: 315px;
}

.medium {
    height: 315px;
}

.large {
    height: 660px;
}

.card-header-container {
    z-index: 100;
    display: flex;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--color-cardHeader-background);
    padding: 10px;
    height: 80px;
    width: 100%;
}

.card-header {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    width: 100%;
    justify-content: start;
    align-items: center;
}

.card-header:hover {
    background-color: var(--color-cardHeader-background-hover);
}

.card-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 5px;
}

.card-titles {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 21px;
}

.card-subtitle {
    font-size: 14px;
    opacity: 0.8;
    color: var(--color-labelSecondary);
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    backdrop-filter: blur(15px);
    background-color: var(--color-card-background);
}

@media (prefers-color-scheme: dark) {
    .icon {
        filter: invert(0.9);
    }
}